@tailwind base;
@tailwind components;
@tailwind utilities;

input {
    background: none;
}
input:focus {
    outline: none;
}
textarea {
    background: none;
    resize: none;
}
textarea:focus {
    outline: none;
}

p {
    display: inline;
}

@font-face {
    font-family: "HyundaiSansHeadOffice-Bold";
    src: url("/public/fonts/hyundai-sans/HyundaiSansHeadKROTFBold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "HyundaiSansHeadOffice-Medium";
    src: url("/public/fonts/hyundai-sans/HyundaiSansHeadKROTFMedium.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "HyundaiSansHeadOffice-Regular";
    src: url("/public/fonts/hyundai-sans/HyundaiSansHeadKROTFRegular.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "HyundaiSansTextOffice-Bold";
    src: url("/public/fonts/hyundai-sans/HyundaiSansTextKROTFBold.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "HyundaiSansTextOffice-Medium";
    src: url("/public/fonts/hyundai-sans/HyundaiSansTextKROTFMedium.otf") format("opentype");
    font-display: swap;
}

@font-face {
    font-family: "HyundaiSansTextOffice-Regular";
    src: url("/public/fonts/hyundai-sans/HyundaiSansTextKROTFRegular.otf") format("opentype");
    font-display: swap;
}
