@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HyundaiSansHeadOffice-Bold";
    src:
        url("/public/fonts/hyundai-sans/HyundaiSansHeadOffice-Bold.woff2") format("woff2"),
        url("/public/fonts/hyundai-sans/HyundaiSansHeadOffice-Bold.woff") format("woff");
}

@font-face {
    font-family: "HyundaiSansHeadOffice-Medium";
    src:
        url("/public/fonts/hyundai-sans/HyundaiSansHeadOffice-Medium.woff2") format("woff2"),
        url("/public/fonts/hyundai-sans/HyundaiSansHeadOffice-Medium.woff") format("woff");
}

@font-face {
    font-family: "HyundaiSansHeadOffice-Regular";
    src:
        url("/public/fonts/hyundai-sans/HyundaiSansHeadOffice-Regular.woff2") format("woff2"),
        url("/public/fonts/hyundai-sans/HyundaiSansHeadOffice-Regular.woff") format("woff");
}

@font-face {
    font-family: "HyundaiSansHeadOffice-Light";
    src:
        url("/public/fonts/hyundai-sans/HyundaiSansHeadOffice-Light.woff2") format("woff2"),
        url("/public/fonts/hyundai-sans/HyundaiSansHeadOffice-Light.woff") format("woff");
}

@font-face {
    font-family: "HyundaiSansTextOffice-Bold";
    src:
        url("/public/fonts/hyundai-sans/HyundaiSansTextOffice-Bold.woff2") format("woff2"),
        url("/public/fonts/hyundai-sans/HyundaiSansTextOffice-Bold.woff") format("woff");
}

@font-face {
    font-family: "HyundaiSansTextOffice-Medium";
    src:
        url("/public/fonts/hyundai-sans/HyundaiSansTextOffice-Medium.woff2") format("woff2"),
        url("/public/fonts/hyundai-sans/HyundaiSansTextOffice-Medium.woff") format("woff");
}

@font-face {
    font-family: "HyundaiSansTextOffice-Regular";
    src:
        url("/public/fonts/hyundai-sans/HyundaiSansTextOffice-Regular.woff2") format("woff2"),
        url("/public/fonts/hyundai-sans/HyundaiSansTextOffice-Regular.woff") format("woff");
}
